### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/

## Database dev config
config/database.yaml

## Composer dependencies
/vendor
composer.phar
composer.lock